.b-basket {
    position: relative;
    &:before {
        content: '';
        display: none;
        top: 100%;
        width: 100%;
        height: 50%;
        background: transparent;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
    .sub-basket {
        position: absolute;
        top: calc(100% + 8.5px);
        right: 0;
        background: #fff;
        padding: 0 2rem 2rem 2rem;
        width: 700px;
        border-radius: 2px;
        box-shadow: 0px 5px 10px 5px rgba(51,51,51,0.2);
        z-index: -1;
        opacity: 0;
        transition: 0.2s linear;
        display: none;
        &-empty {    
            position: absolute;
            top: calc(100% + 8.5px);
            right: 0;
            background: #fff;
            padding: 0 2rem 2rem 2rem;
            width: 410px;
            border-radius: 2px;
            box-shadow: 0px 5px 10px 5px rgba(51,51,51,0.2);
            z-index: 0;
            opacity: -1;
            transition: 0.2s linear;
            padding-bottom: 1.5rem;
            display: none;
            .page-header {
                padding-bottom: 1rem;
                span {
                    margin-right: 0;
                    font-size: 40px;
                    &:before {
                        color: rgba(66, 79, 96, 0.5);
                    }
                }
                border-bottom: 1px solid rgba(206, 209, 212, 0.4);
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: #333333;
                margin-bottom: 0;
                margin: 1rem 0;
                font-family: "Proxima Nova Lt";
                span {
                    font-weight: 800;
                }
            }
            a.gocatalog {
                border: 1px solid #034488;
                background: #034488;
                color: #fff;
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                font-size: 16px;
                font-family: "Proxima Nova Rg";
                cursor: pointer;
                letter-spacing: 0.5px;
                transition: 0.2s linear;
                span {
                    font-size: 9px;
                    margin-left: 1rem;
                    &:before {
                        color: #fff;
                    }
                }
                &:hover {
                    color: #034488;
                    background: #fff;
                    border: 1px solid rgba(3, 68, 136, 0.5);
                    span:before {
                        color: #034488;
                    }
                }
            }
        }
        &.active {
            display: block;
        }
    }
    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.5rem;
        h1 {
            span {
                color: rgba(3, 68, 136, 0.3);
            }
        }
    }
    .goods-in-basket {
        margin-left: 0;
        margin-right: 0;
        .table td {
            height: auto;
        }
        .table th, .table td {
            padding: 0.75rem 0;
        }
    }
    .bgood-text {
        height: 70px;
        p {
            margin-bottom: 0;
        }
        & > div a {
            margin-bottom: 0.25rem;
        }
    }
    .bgood-amount {
        width: 80%;
        input {
            width: 100%;
        }
    }
    .goods-total {
        justify-content: flex-end;
        margin-left: 0;
        padding: 0.75rem 0;
    }
    .goods-buy {
        margin-left: 0;
        display: grid;
        grid-template-columns: repeat(3, 32%);
        grid-column-gap: 2%;
        a {
            width: 100%;
            &.bbuy-gobasket {
                border: 1px solid #034488;
                background: #034488;
                color: #fff;
                transition: 0.2s linear;
                &:hover {
                    color: #034488;
                    background: #fff;
                    border: 1px solid rgba(3, 68, 136, 0.5);
                    span {
                        &:before {
                            color: #034488;
                        }
                    }
                }
            }
            &.bbuy-onclick {
                border: 1px solid rgba(3, 68, 136, 0.5);
                background: #fff;
                color: #034488;
                span {
                    &:before {
                       color: #034488;
                    }
                }
                &:hover {
                    color: #fff;
                    background: #034488;
                    border: 1px solid #034488;
                    span {
                        &:before {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &:hover {
        .sub-basket {
            opacity: 1;    
            z-index: 12;
            &-empty {
                opacity: 1;    
                z-index: 12;
            }
        }
        &:before {
            display: block;
        }
    }
}

.gipfel__contacts {
    .page-header {
        h1 {
            text-align: left;
        }
        margin-right: -15px;
        margin-left: -15px;
    }
    .flex {
        width: 100%;
        display: flex;
        margin-top: 3rem;
    }
    .contacts_left {
        width: 270px;
        margin-right: 30px;
    }
    .contacts_right {
        width: 100%;
    }
    .fourb {
        display: flex;
        flex-wrap: wrap;
    }
    .store_property {
        width: 50%;
        display: flex;
        flex-direction: column;  
        border-bottom: 1px solid rgba(223, 223, 223, 0.5);
        padding: 2rem 0;
        span[class^="icon-"] {
            font-size: 21px;
            height: 30px;
            display: flex;
            align-items: center;
            &:before {
                color: rgb(3, 68, 136);
            }
        }
        .title {
            color: rgba(51, 51, 51, 0.5);
            font-size: 14px;
            margin-top: 0.25rem;
            font-family: "Proxima Nova Rg";
            margin-bottom: 0.25rem;
        }
        .value {
            font-size: 18px;
            line-height: 27px;
            color: #333333;
            span {
                color: #e74242;
            }
        }
        a {
            display: block;
            line-height: 27px;
            font-size: 18px;
            color: rgb(3, 68, 136);
        }
    }
    blockquote {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 50% 50%;
        p {
            font-size: 14px;
            line-height: 21px;
            color: rgba(51, 51, 51, 0.8);
            font-family: "Proxima Nova Rg";
            margin-bottom: 0;
            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(2) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(3) {
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &:nth-child(4) {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 4;
            }
            span {
                font-weight: 800;
            }
        }
    }
}

.contacts .form_container {
  background: #f9fafb;
  padding: 3rem 2rem 3rem 2rem; }
  .contacts .form_container h1 {
    font-size: 26px;
    line-height: 26px; 
    color: #333333;
    margin-bottom: 2rem;
}
  .contacts .form_container .form-gap {
    height: 100%;
    width: 0.5rem;
    background: transparent; }
    .contacts .form_container .form-gap:before {
      content: '';
      display: block;
      background: transparent;
      width: 100%;
      height: 100%; }

.input-fields {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .input-fields > div {
    width: 48%;
    height: inherit; }
  .input-fields div:nth-child(2) div {
    height: 100%; }
.catalog-submenu {
    padding: 0;
    background: transparent;
}
.gipfel-form-item {
  display: flex;
  flex-direction: column; }
  .gipfel-form-item:first-of-type {
    margin-bottom: 1rem; }
  .gipfel-form-item:nth-of-type(2) {
    margin-bottom: 1rem; }
  .gipfel-form-item label {
    margin-left: 1rem;
      margin-bottom: 0;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.8);
    font-family: "Proxima Nova Rg"; }
  .gipfel-form-item input {
    border-radius: 20px;
    height: 40px;
    padding: 0 1rem;
    border: 1px solid rgba(3, 68, 136, 0.5);
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    font-family: "Proxima Nova Rg";
    transition: 0.2s linear;
    background: transparent; }
.gipfel-form-item input:focus {
    border: 1px solid rgba(3, 68, 136, 1);
}
    .gipfel-form-item input:focus {
      outline: none; }
  .gipfel-form-item textarea {
    border-radius: 20px;
    border: 1px solid rgba(3, 68, 136, 0.5);
    font-size: 18px;
    font-family: "Proxima Nova Lt";
    color: #00364e;
    resize: none;
    padding: 0.5rem 1rem;
    height: 100%;
    background: transparent; }
    .gipfel-form-item textarea:focus {
        border: 1px solid rgba(3, 68, 136, 1);
      outline: none; }

.gipfel-policy {
  margin: 0.75rem 0; 
    display: flex;
    justify-content: flex-end;
}
  .gipfel-policy label {
    color: #b6b5b5;
      background: transparent;
    font-size: 14px;
      width: 60%;
      text-align: right;
      margin-bottom: 0;
    font-family: "Proxima Nova Rg"; }
    .gipfel-policy label a {
      color: rgba(3, 68, 136, 1);
      font-family: "Proxima Nova Rg";
      font-size: 14px; }

.gipfel-send {
  background: rgba(3, 68, 136, 1);
  border: 1px solid rgba(3, 68, 136, 1);
  display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  height: 40px;
  font-size: 16px;
  font-family: "Proxima Nova Lt";
  border: none;
  border-radius: 20px;
    margin: 0 0 0 auto;
    transition: 0.2s linear;
    cursor: pointer;
  padding: 0 1.25rem; }

.gipfel-send:hover {
    background: transparent;
    border: 1px solid rgba(3, 68, 136, 0.5);
    color: rgba(3, 68, 136, 1);
}

@media(max-width: 768px) {
    .gipfel__contacts {
        .page-block {
            margin-left: -30px;
            margin-right: -30px;
            padding-bottom: 1.5rem;
        }
        .contacts_left {
            display: none;
        }
        .page-header {
            padding-top: 1rem;
            h1 {
                text-align: center;
            }
        }
        .flex {
            margin-top: 1rem;
        }
        .contacts_map {
            margin-left: -15px;
            margin-right: -15px;   
        }
        .store_property {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 7.5% 90%;
            grid-column-gap: 2.5%;
            width: 100%;
            .value {
                font-size: 16px;
                line-height: 22px;
            }
            .title {
                display: none;
            }
            span[class^="icon-"] {
                align-items: flex-start;
            }
            a {
                line-height: 1;
                margin-bottom: 10px;
            }
        }
        blockquote {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
        }
        .form_container {
            padding: 1.5rem 1rem;
            margin-left: -15px;
            margin-right: -15px;
            h1 {
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 1rem;
            }
        }
    }
    .input-fields {
        flex-direction: column;
        & > div {
            width: 100%;
        }
    }
    .gipfel-form-item {
        margin-bottom: 1rem;
        input {
            height: 36px;
            font-size: 16px;
        }
        textarea {
            height: 36px;
            font-size: 16px;
            
        }
    }
    .gipfel-policy {
        margin: 0 0 0.5rem 0;
        label {
            width: 100%;
            text-align: left;
            font-size: 13px;
            a {
                font-size: 13px;
            }
        }
    }
    .gipfel-send {
        height: 36px;
        width: 100%;
        margin-top: 1rem;
    }
}
