.gipfel__goodPage {
    .page-header {
        flex-wrap: wrap;
        & > div {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem 0;
        }
        .good-rate {
            display: flex;
            margin: 0;
            margin-right: 1rem;
            span {
                font-size: 15px;
            }
        }
        .good-feedback {
            font-size: 14px;
            line-height: 14px;
            margin: 0;
            margin-right: 2rem;
            a {
                color: $font-regular;
            }
        }
        .good-vendor {
            font-size: 14px;
            line-height: 14px;
            margin: 0;
            a {
                color: rgba(51, 51, 51, 0.5);
            }
        }
    }
}

.goodPage__content {
    width: 100%;
    position: relative;
    .goods-like {
        .swiper-container.gPage-container {
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 2px;
                background: #fff;
                z-index: 2;
            }
        }
        .swiper-pagination.gPage-container {
        position: relative;
        display: inline-flex;
        bottom: 0 !important;
        margin-top: 2rem;
        margin-bottom: 3rem;
        }
        h3 {
            span {
                margin-left: 0.5rem;
                color:  rgba(51, 51, 51, 0.3);
            }
        }
    }
    .swiper-container {
        height: auto;
    }
}

.gPage-recent {
    width: 100%;
    background: #f9fafb;
    .row {
        margin-left: -50px;
        margin-right: -50px;
        background: #f9fafb;
        padding-bottom: 3rem;
    }
    h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 26px;
        color: #333333;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .swiper-slide {
            height: auto;
        }
        .swiper-container.gPage-recent-container {
            padding-top: 1px;
        }
        .swiper-pagination.gPage-recent-container, .swiper-button-next.gPage-recent-container, .swiper-button-prev.gPage-recent-container {
            display: none;
        }
        &:after, &:before {
            content: "";
            display: block;
            position: absolute;
            width: 3px;
            height: calc(100% + 1px);
            background: #f9fafb;
            top: -1px;
            z-index: 5;
        }
        &:before {
            left: -1px;
        }
        &:after {
            right: -1px;
        }
    }
}


.gPage-recent-item {
    cursor: pointer;
    width: 100%;
    margin-top: -1px;
    border-left: none;
}

.good-close {
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    cursor: pointer;
    span {
        font-size: 16px;
        &:before {
            color: rgba(3, 68, 136, 0.5);
        }
    }
}